<link rel="stylesheet" href="<?php echo $var['app_assets']; ?>/_vendors/jquery.tagsinput/adds/css/inputTags.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<script type="text/javascript" src="<?php echo $var['app_assets']; ?>/_vendors/jquery.tagsinput/adds/js/inputTags.jquery.js"></script>
<script type="text/javascript" src="<?php echo $var['app_assets']; ?>/_vendors/jquery.tagsinput/adds/js/app.js"></script>
<script type="text/javascript">
  $('.tags').tagsInput({
   'delimiter': [',']   // Or a string with a single delimiter. Ex: ';'
   });
</script>